/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.img{
	object-fit:cover;
	}
.content{
	padding-left:20px;
}
.content>button{
	padding:2px;
	background-color:red;
	color:white;
	border-radius:2px;
	
}

